In [ ]:
import pandas as pd

import datetime

import numpy as np

import matplotlib.pyplot as plt

from pandas.plotting import scatter_matrix

!pip install yfinance

import yfinance as yf

%matplotlib inline
from sklearn import preprocessing
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

Collecting yfinance
  Downloading yfinance-0.1.67-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Collecting lxml>=4.5.1
  Downloading lxml-4.7.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 13.0 MB/s
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.7.1 yfinance-0.1.67

In [ ]:
start = "2015-01-01"
end = '2020-01-01'

In [ ]:
inp=input()

Tesla

In [ ]:
y='TCS'
if (inp=='tesla'):
    y='TCS'
elif(inp=='wipro'):
    y='WIPRO.NS'
elif(inp=='microsoft'):
  y='msft'
elif(inp=='infosys'):
  y='INFY'
elif(inp=='apple'):
  y='aapl'
elif(inp=='amazon'):
  y='amzn'
else:  
  print("ERROR")

data = yf.download(y,start,end)

ERROR
[*********************100%***********************]  1 of 1 completed

In [ ]:
data.head()

                 Open       High        Low      Close  Adj Close   Volume
Date
2015-01-02  19.290001  19.770000  18.990000  19.379999  18.116087   280800
2015-01-05  19.110001  19.180000  18.129999  18.320000  17.125217   565300
2015-01-06  18.389999  18.690001  17.530001  18.480000  17.274782   457700
2015-01-07  18.629999  20.450001  18.629999  20.340000  19.013479   679600
2015-01-08  20.700001  21.680000  19.510000  21.209999  19.826738  1113300

In [ ]:
X = data[['High','Low','Open','Volume']].values
y = data['Close'].values

In [ ]:
X

array([[1.97700005e+01, 1.89899998e+01, 1.92900009e+01, 2.80800000e+05],
       [1.91800003e+01, 1.81299992e+01, 1.91100006e+01, 5.65300000e+05],
       [1.86900005e+01, 1.75300007e+01, 1.83899994e+01, 4.57700000e+05],
       ...,
       [4.55000019e+00, 4.28999996e+00, 4.51999998e+00, 1.96000000e+05],
       [4.34000015e+00, 4.15999985e+00, 4.26999998e+00, 1.59700000e+05],
       [4.26000023e+00, 4.13999987e+00, 4.15999985e+00, 2.32500000e+05]])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=1)

In [ ]:
lc=LinearRegression()

In [ ]:
lc.fit(X_train, y_train)

LinearRegression()

In [ ]:
predicted = lc.predict(X_test)

In [ ]:
hi=21.680000
lo=19.510000
op=20.700001
vol=1113300

In [ ]:
defa=inp=([[hi,lo,op,vol]])

In [ ]:
output=lc.predict(inp)

In [ ]:
output

array([20.54313847])